POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=user
POSTGRES_DATABASE=api-db

JWT_SECRET_KEY=your_secret_key
JWT_TTL=24h

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret